In [ ]:
pip install numpy

In [16]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (2.2.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pytz>=2020.1 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (3.8.4)
Requirement already satisfied: numpy>=1.21 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: pillow>=8 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: cycler>=0.10 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: packaging>=20.0 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
     ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
     ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
     ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
     ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
     ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
     ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
     ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
     ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
     ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
     ----- ---------------------------------- 41.0/294.9 kB ? eta -:--:--
     ----- ---------------------------------- 41.0/294.9 kB ? eta -:--:--
     ----- ---------------------------------- 41.0/294.9 kB ? eta -:--:--
     ----- ---------------------------------- 41.0/294.9 kB ? eta -:--:--
     ----- ---------------------------------- 41.0/294.9 kB ? eta -:--:--
     ----- ---------------------------------- 41.0/294.9 kB ? eta -:--:--
     ----- ---------------------------------- 41.0/294.9 kB ? eta -:--:--
     ----- ---------------------------------- 41.0/294.9 kB ? eta -:--:--
     ----- ---------------------------------- 41.0/294.9 kB ? eta -:--:--
     ------- ----------------------------- 61.4/294.9 kB 121.3 kB/s eta 0:00:02
     ---------- -------------------------- 81.9/294.9 kB 164.0 kB/s eta 0:00:02
     ---------- -------------------------- 81.9/294.9 kB 164.0 kB/s eta 0:00:02
     ----------- ------------------------- 92.2/294.9 kB 149.8 kB/s eta 0:00:02
     ----------- ------------------------- 92.2/294.9 kB 149.8 kB/s eta 0:00:02
     ----------- ------------------------- 92.2/294.9 kB 149.8 kB/s eta 0:00:02
     ----------- ------------------------- 92.2/294.9 kB 149.8 kB/s eta 0:00:02
     ----------- ------------------------- 92.2/294.9 kB 149.8 kB/s eta 0:00:02
     ----------- ------------------------- 92.2/294.9 kB 149.8 kB/s eta 0:00:02
     ----------- ------------------------- 92.2/294.9 kB 149.8 kB/s eta 0:00:02
     ----------- ------------------------- 92.2/294.9 kB 149.8 kB/s eta 0:00:02
     ------------- ---------------------- 112.6/294.9 kB 111.1 kB/s eta 0:00:02
     -------------- --------------------- 122.9/294.9 kB 112.6 kB/s eta 0:00:02
     -------------- --------------------- 122.9/294.9 kB 112.6 kB/s eta 0:00:02
     -------------- --------------------- 122.9/294.9 kB 112.6 kB/s eta 0:00:02
     -------------- --------------------- 122.9/294.9 kB 112.6 kB/s eta 0:00:02
     ----------------- ------------------ 143.4/294.9 kB 112.1 kB/s eta 0:00:02
     ----------------- ------------------ 143.4/294.9 kB 112.1 kB/s eta 0:00:02
     ----------------- ------------------ 143.4/294.9 kB 112.1 kB/s eta 0:00:02
     ----------------- ------------------ 143.4/294.9 kB 112.1 kB/s eta 0:00:02
     ----------------- ------------------ 143.4/294.9 kB 112.1 kB/s eta 0:00:02
     ----------------- ------------------ 143.4/294.9 kB 112.1 kB/s eta 0:00:02
     ------------------- ---------------- 163.8/294.9 kB 104.6 kB/s eta 0:00:02
     ------------------- ---------------- 163.8/294.9 kB 104.6 kB/s eta 0:00:02
     --------------------- -------------- 174.1/294.9 kB 107.0 kB/s eta 0:00:02
     --------------------- -------------- 174.1/294.9 kB 107.0 kB/s eta 0:00:02
     --------------------- -------------- 174.1/294.9 kB 107.0 kB/s eta 0:00:02
     --------------------- -------------- 174.1/294.9 kB 107.0 kB/s eta 0:00:02
     --------------------- -------------- 174.1/294.9 kB 107.0 kB/s eta 0:00:02
     ----------------------- ------------ 194.6/294.9 kB 102.6 kB/s eta 0:00:01
     ----------------------- ------------ 194.6/294.9 kB 102.6 kB/s eta 0:00:01
     ----------------------- ------------ 194.6/294.9 kB 102.6 kB/s eta 0:00:01
     ------------------------ ----------- 204.8/294.9 kB 101.2 kB/s eta 0:00:01
     ------------------------ ----------- 204.8/294.9 kB 101.2 kB/s eta 0:00:01
     ------------------------ ----------- 204.8/294.9 kB 101.2 kB/s eta 0:00:01
     ------------------------ ----------- 204.8/294.9 kB 101.2 kB/s eta 0:00:01
     ------------------------ ----------- 204.8/294.9 kB 101.2 kB/s eta 0:00:01
     ---------------------------- -------- 225.3/294.9 kB 99.7 kB/s eta 0:00:01
     ---------------------------- -------- 225.3/294.9 kB 99.7 kB/s eta 0:00:01
     ---------------------------- -------- 225.3/294.9 kB 99.7 kB/s eta 0:00:01
     ---------------------------- -------- 225.3/294.9 kB 99.7 kB/s eta 0:00:01
     ---------------------------- -------- 225.3/294.9 kB 99.7 kB/s eta 0:00:01
     ------------------------------ ------ 245.8/294.9 kB 98.5 kB/s eta 0:00:01
     ------------------------------ ------ 245.8/294.9 kB 98.5 kB/s eta 0:00:01
     ------------------------------ ------ 245.8/294.9 kB 98.5 kB/s eta 0:00:01
     ------------------------------ ------ 245.8/294.9 kB 98.5 kB/s eta 0:00:01
     ------------------------------ ------ 245.8/294.9 kB 98.5 kB/s eta 0:00:01
     ------------------------------ ------ 245.8/294.9 kB 98.5 kB/s eta 0:00:01
     ------------------------------ ------ 245.8/294.9 kB 98.5 kB/s eta 0:00:01
     ------------------------------ ------ 245.8/294.9 kB 98.5 kB/s eta 0:00:01
     ---------------------------------- - 286.7/294.9 kB 100.0 kB/s eta 0:00:01
     ---------------------------------- - 286.7/294.9 kB 100.0 kB/s eta 0:00:01
     ------------------------------------- 294.9/294.9 kB 99.6 kB/s eta 0:00:00
Requirement already satisfied: pandas>=1.2 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (2.2.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.8.4)
Requirement already satisfied: cycler>=0.10 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: packaging>=20.0 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: pillow>=8 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\mohammad musab\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [61]:
import numpy as np

In [62]:
import pandas as pd

In [63]:
import matplotlib.pyplot as plt

In [64]:
import seaborn as sns

In [65]:
%matplotlib inline

In [66]:
sns.set()

In [67]:
import warnings

In [68]:
warnings.filterwarnings('ignore')

In [69]:
df= pd.read_csv(r'C:\Users\Mohammad Musab\Documents\Downloads\zomato.csv')

In [70]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [73]:

df.rename(columns = {'approx_cost(for two people)' : 'approx_cost', 'listed_in(city)' : 'area'}, inplace = True)

In [75]:
df.drop(['url','address','menu_item','reviews_list','dish_liked','phone','listed_in(type)'],axis = 1, inplace = True)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          51717 non-null  object
 1   online_order  51717 non-null  object
 2   book_table    51717 non-null  object
 3   rate          43942 non-null  object
 4   votes         51717 non-null  int64
 5   location      51696 non-null  object
 6   rest_type     51490 non-null  object
 7   cuisines      51672 non-null  object
 8   approx_cost   51371 non-null  object
 9   area          51717 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.9+ MB

In [78]:
#unique values
df['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [80]:

df['rate'] =  df['rate'].str.replace("/5", "")
df['rate'] =  df['rate'].str.replace("nan", "NaN")
df['rate'] =  df['rate'].str.replace("NEW", "NaN")
df['rate'] =  df['rate'].str.replace("-", "NaN")
df['rate'] =  df['rate'].str.replace(" /5", "")
df['rate'] =  df['rate'].fillna(np.nan)
df['rate'] =  df['rate'].str.replace(" ", "")

In [82]:

df['approx_cost'] = df['approx_cost'].str.replace("nan", "NaN")
df['approx_cost'] = df['approx_cost'].fillna('NaN')
df['approx_cost'] = df['approx_cost'].str.replace(",","" )

In [84]:

  df['approx_cost'] = df['approx_cost'].astype(float)
  df['rate'] = df['rate'].astype(float)

In [85]:
df.head()

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost,area
0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,Banashankari
1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,Banashankari
2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,Banashankari
4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,Banashankari

In [86]:

df.describe


df = df[df["location"].notna()]
df = df[df["rest_type"].notna()]
df = df[df["cuisines"].notna()]
df = df[df["approx_cost"].notna()]

In [87]:
df.isnull().sum()

name               0
online_order       0
book_table         0
rate            9885
votes              0
location           0
rest_type          0
cuisines           0
approx_cost        0
area               0
dtype: int64